.container {
  margin-top: 0px;
  width: 100%;
 
}

.App {
  width: 100%;
}

.navbar {
  background-color: rgb(0, 0, 0);
  margin-left: -17px;
  margin-right: -17px;
}

.img {
  width: 50px;
  height: 50px;
}

.nav {
  color: #fff;
}
